## MSBC 5070 Survey for Business Analytics

<b>Last Name:</b>  Xiao
    
<b>First Name:</b> Qingdi

<b>Student ID:</b> 105784140

<b>Section:</b> 202

In [0]:
# print all the outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np

In [0]:
respondents={'Amy': 0,
 'Bob': 1,
 'Catherine': 2,
 'Dorothy': 3,
 'Edward': 4,
 'Frankie': 5,
 'Gregory': 6,
 'Heather': 7,
 'Iris': 8,
 'Javard': 9}

In [0]:
survey=['I have basic knowledge in Python.',
 'I am proficient in Java, and has some knowledge in R.',
 'I am familiar with C++, familiar with R, and familiar with Matlab.',
 'I have never used Python, but proficient in R.',
 'I have some knowledge in C++, and familiar with SQL.',
 'I have never used C++, and have basic knowledge in Python.',
 'I have never used Java, and have basic knowledge in SQL.',
 'I am proficient in C++, and proficient in Python.',
 'I have basic knowledge in R, and some knowledge in C++, but never used Python.',
 'I am familiar with Tableau, and famililar with Excel but never used R.']

In [0]:
#Getting the name and response from the table given in the question

In [0]:
df  = pd.read_csv('studentsurvey.csv')

In [0]:
df

  Unnamed: 0                                             Survey
0        Amy                  I have basic knowledge in Python.
1        Bob  I am proficient in Java, and has some knowledg...
2  Catherine  I am familiar with C++, familiar with R, and f...
3    Dorothy     I have never used Python, but proficient in R.
4     Edward  I have some knowledge in C++, and familiar wit...
5    Frankie  I have never used C++, and have basic knowledg...
6    Gregory  I have never used Java, and have basic knowled...
7    Heather  I am proficient in C++, and proficient in Python.
8       Iris  I have basic knowledge in R, and some knowledg...
9     Javard  I am familiar with Tableau, and famililar with...

In [0]:
# Summarizing the responses. Making the csv file by myself

In [0]:
df.head

<bound method NDFrame.head of   Unnamed: 0                                             Survey
0        Amy                  I have basic knowledge in Python.
1        Bob  I am proficient in Java, and has some knowledg...
2  Catherine  I am familiar with C++, familiar with R, and f...
3    Dorothy     I have never used Python, but proficient in R.
4     Edward  I have some knowledge in C++, and familiar wit...
5    Frankie  I have never used C++, and have basic knowledg...
6    Gregory  I have never used Java, and have basic knowled...
7    Heather  I am proficient in C++, and proficient in Python.
8       Iris  I have basic knowledge in R, and some knowledg...
9     Javard  I am familiar with Tableau, and famililar with...>

In [0]:
# CPP name in response doesn't corresponsd with column name. Using replace function to replace C++ to CPP in the survey response to make the CPP column not all zeros in final dataframe.

In [0]:
df['Survey'].replace({'C\++': 'CPP'}, inplace=True, regex=True)
df.head

<bound method NDFrame.head of   Unnamed: 0                                             Survey
0        Amy                  I have basic knowledge in Python.
1        Bob  I am proficient in Java, and has some knowledg...
2  Catherine  I am familiar with CPP, familiar with R, and f...
3    Dorothy     I have never used Python, but proficient in R.
4     Edward  I have some knowledge in CPP, and familiar wit...
5    Frankie  I have never used CPP, and have basic knowledg...
6    Gregory  I have never used Java, and have basic knowled...
7    Heather  I am proficient in CPP, and proficient in Python.
8       Iris  I have basic knowledge in R, and some knowledg...
9     Javard  I am familiar with Tableau, and famililar with...>

"proficient in (language)"=4 "familiar with (language)"=3 "basic knowledge in (language)"=2 "some knowledge in (language)"=1 otherwise=0

In [0]:
def R(survey):
    if "proficient in R" in survey:
        return 4
    elif "familiar with R" in survey:
        return 3
    elif "basic knowledge in R" in survey:
        return 2
    elif "some knowledge in R" in survey:
        return 1
    else:
        return 0

In [0]:
def CPP(survey):
    if "proficient in CPP" in survey:
        return 4
    elif "familiar with CPP" in survey:
        return 3
    elif "basic knowledge in CPP" in survey:
        return 2
    elif "some knowledge in CPP" in survey:
        return 1
    else:
        return 0

In [0]:
def Python(survey):
    if "proficient in Python" in survey:
        return 4
    elif "familiar with Python" in survey:
        return 3
    elif "basic knowledge in Python" in survey:
        return 2
    elif "some knowledge in Python" in survey:
        return 1
    else:
        return 0

In [0]:
def SQL(survey):
    if "proficient in SQL" in survey:
        return 4
    elif "familiar with SQL" in survey:
        return 3
    elif "basic knowledge in SQL" in survey:
        return 2
    elif "some knowledge in SQL" in survey:
        return 1
    else:
        return 0

In [0]:
def Matlab(survey):
    if "proficient in Matlab" in survey:
        return 4
    elif "familiar with Matlab" in survey:
        return 3
    elif "basic knowledge in Matlab" in survey:
        return 2
    elif "some knowledge in Matlab" in survey:
        return 1
    else:
        return 0

In [0]:
def Tableau(survey):
    if "proficient in Tableau" in survey:
        return 4
    elif "familiar with Tableau" in survey:
        return 3
    elif "basic knowledge in Tableau" in survey:
        return 2
    elif "some knowledge in Tableau" in survey:
        return 1
    else:
        return 0

In [0]:
def Java(survey):
    if "proficient in Java" in survey:
        return 4
    elif "familiar with Java" in survey:
        return 3
    elif "basic knowledge in Java" in survey:
        return 2
    elif "some knowledge in Java" in survey:
        return 1
    else:
        return 0

In [0]:
# Define functions in survey based on the number given

In [0]:
df['R'] = df['Survey'].apply(R)
df.head()

  Unnamed: 0                                             Survey  R
0        Amy                  I have basic knowledge in Python.  0
1        Bob  I am proficient in Java, and has some knowledg...  1
2  Catherine  I am familiar with CPP, familiar with R, and f...  3
3    Dorothy     I have never used Python, but proficient in R.  4
4     Edward  I have some knowledge in CPP, and familiar wit...  0

In [0]:
df['CPP'] = df['Survey'].apply(CPP)
df.head()

  Unnamed: 0                                             Survey  R  CPP
0        Amy                  I have basic knowledge in Python.  0    0
1        Bob  I am proficient in Java, and has some knowledg...  1    0
2  Catherine  I am familiar with CPP, familiar with R, and f...  3    3
3    Dorothy     I have never used Python, but proficient in R.  4    0
4     Edward  I have some knowledge in CPP, and familiar wit...  0    1

In [0]:
df['Python'] = df['Survey'].apply(Python)
df.head()

,Unnamed: 0,Survey,R,CPP,Python
0,Amy,I have basic knowledge in Python.,0,0,2
1,Bob,"I am proficient in Java, and has some knowledg...",1,0,0
2,Catherine,"I am familiar with CPP, familiar with R, and f...",3,3,0
3,Dorothy,"I have never used Python, but proficient in R.",4,0,0
4,Edward,"I have some knowledge in CPP, and familiar wit...",0,1,0

In [0]:
df['SQL'] = df['Survey'].apply(SQL)
df.head()

,Unnamed: 0,Survey,R,CPP,Python,SQL
0,Amy,I have basic knowledge in Python.,0,0,2,0
1,Bob,"I am proficient in Java, and has some knowledg...",1,0,0,0
2,Catherine,"I am familiar with CPP, familiar with R, and f...",3,3,0,0
3,Dorothy,"I have never used Python, but proficient in R.",4,0,0,0
4,Edward,"I have some knowledge in CPP, and familiar wit...",0,1,0,3

In [0]:
df['Matlab'] = df['Survey'].apply(Matlab)
df.head()

,Unnamed: 0,Survey,R,CPP,Python,SQL,Matlab
0,Amy,I have basic knowledge in Python.,0,0,2,0,0
1,Bob,"I am proficient in Java, and has some knowledg...",1,0,0,0,0
2,Catherine,"I am familiar with CPP, familiar with R, and f...",3,3,0,0,3
3,Dorothy,"I have never used Python, but proficient in R.",4,0,0,0,0
4,Edward,"I have some knowledge in CPP, and familiar wit...",0,1,0,3,0

In [0]:
df['Tableau'] = df['Survey'].apply(Tableau)
df.head()

,Unnamed: 0,Survey,R,CPP,Python,SQL,Matlab,Tableau
0,Amy,I have basic knowledge in Python.,0,0,2,0,0,0
1,Bob,"I am proficient in Java, and has some knowledg...",1,0,0,0,0,0
2,Catherine,"I am familiar with CPP, familiar with R, and f...",3,3,0,0,3,0
3,Dorothy,"I have never used Python, but proficient in R.",4,0,0,0,0,0
4,Edward,"I have some knowledge in CPP, and familiar wit...",0,1,0,3,0,0

In [0]:
df['Java'] = df['Survey'].apply(Java)
df.head()

,Unnamed: 0,Survey,R,CPP,Python,SQL,Matlab,Tableau,Java
0,Amy,I have basic knowledge in Python.,0,0,2,0,0,0,0
1,Bob,"I am proficient in Java, and has some knowledg...",1,0,0,0,0,0,4
2,Catherine,"I am familiar with CPP, familiar with R, and f...",3,3,0,0,3,0,0
3,Dorothy,"I have never used Python, but proficient in R.",4,0,0,0,0,0,0
4,Edward,"I have some knowledge in CPP, and familiar wit...",0,1,0,3,0,0,0

In [0]:
#Making new columns for their proficiency in programing language based on their responses in survey

In [0]:
df.drop("Survey", axis=1)

  Unnamed: 0  R  CPP  Python  SQL  Matlab  Tableau  Java
0        Amy  0    0       2    0       0        0     0
1        Bob  1    0       0    0       0        0     4
2  Catherine  3    3       0    0       3        0     0
3    Dorothy  4    0       0    0       0        0     0
4     Edward  0    1       0    3       0        0     0
5    Frankie  0    0       2    0       0        0     0
6    Gregory  0    0       0    2       0        0     0
7    Heather  0    4       4    0       0        0     0
8       Iris  2    1       0    0       0        0     0
9     Javard  0    0       0    0       0        3     0

In [0]:
# Droping survey column to make the table the same as the one showed in question